:root {
    ---playlist-img-spacing: 6px;
}

.playlist-item {
    padding-top: var(---playlist-img-spacing);
    padding-bottom: var(---playlist-img-spacing);
    align-items: center;

    &__img {
        width: 2em;
        height: 2em;
        border-radius: 4px;
        margin-right: 12px;
        
        filter: brightness(85%);

        &.folder {
            padding: 4px;
            background-color: var(--spice-tab-active);
        }

        &.no-icon {
            background-color: var(--spice-tab-active);
            height: 2em;
        }
    }

    &:hover &__img {
        transition: 0.2s ease-out;
        filter: brightness(100%);
    }
    
}
