:root {
    ---playlist-img-spacing: 6px;
}

.playlist-item {
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;

    &__img {
        width: 1.5em;
        height: 1.5em;
        border-radius: 2px;
        margin-right: 12px;
        
        filter: brightness(85%);

        &.folder {
            background-color: var(--spice-tab-active);
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 1.1em;
                height: 1.1em;
            }
        }

        &.no-icon {
            background-color: var(--spice-tab-active);
            height: 1.5em;
        }
    }

    &:hover &__img {
        transition: 0.2s ease-out;
        filter: brightness(100%);
    }
}

.add-to-playlist-item {
    display: flex;
    align-items: center;

    &:hover {
        background-color: rgba(var(--spice-rgb-selected-row),.1);
    }

    &__img, &__folder {
        width: 2.25rem;
        padding-left: 12px;
    }

    &> button {
        &:hover {
            background-color: unset;
        }

        &[aria-expanded="true"] {
            background-color: unset;
        }
    }
}

.big-icons {
    .playlist-item {
        padding-top: var(---playlist-img-spacing);
        padding-bottom: var(---playlist-img-spacing);
    
        &__img {
            border-radius: 4px;
            width: 2em;
            height: 2em;

            &.folder {
                padding: 4px;

                svg {
                    width: 1.5em;
                    height: 1.5em;
                }
            }
        }
    }

    // Fix not being unable to scroll to the bottom
    &> div {
        contain: unset;
    }
}
